<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr> <td>Day 1: Nov 12</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy data for librarians</a></td> </tr>
      <tr> <td>Day 1: Nov 19</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>Day 1: Nov 26</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>Day 1: Dec 03</td>  <td><a href="https://carpentries-incubator.github.io/tei-xml/">Introduction to TEI</a></td> </tr>
     </table>
  </div>
 
</div>
