<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Tidy data for librarians</h3>
    <ul>
      <li>Using spreadsheet programs for data organization</li>
      <li>Formatting data tables in Spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Basic quality assurance and control</li>
      <li>Exporting data from spreadsheets</li>
      <li>Caveats of popular data and file formats</li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">OpenRefine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data into OpenRefine</li>
      <li>Layout of OpenRefine, Rows vs Records	</li>
      <li>Faceting and filtering</li>
      <li>Clustering</li>
      <li>Working with columns and sorting</li>
      <li>Transformations</li>
      <li>Advanced OpenRefine functions</li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/">Reference...</a></li>
    </ul>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Introduction to Working with Data (Regular Expressions)</h3>
    <ul>
      <li>Introduction to Regular Expressions</li>
      <li>How can you use regular expressions to match and extract strings</li>
      <li>How do you find and match strings with regular expressions</li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">Introduction to TEI</h3>
    <ul>
      <li>Introduction to TEI</li>
      <li>Elements and Attributes</li>
      <li>Descriptions and Cataloguing</li>
      <li><a href="https://carpentries-incubator.github.io/tei-xml/">Reference...</a></li>
    </ul>
  </div>

</div>
